# 의도 분류 모델 학습 데이터 생성하기

In [1]:
import pandas as pd
import numpy as np
from konlpy.tag import Komoran

In [2]:
movie = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/네이버.csv")
purpose = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/용도별목적대화데이터.csv")
topic = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/주제별일상대화데이터.csv")
common_sense = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/일반상식.csv")
add = pd.read_csv("D:/대학교/4학년 1학기/졸작/chatbot/데이터/data_to_csv/추가데이터.csv")
#add_2 = pd.read_csv("./data_to_csv/추가_1.csv")

movie.dropna(inplace=True)
purpose.dropna(inplace=True)
topic.dropna(inplace=True)
common_sense.dropna(inplace=True)
add.dropna(inplace=True)

In [3]:
print(f"movie shape => {movie.shape}\n\
purpose shape => {purpose.shape}\n\
topic shape => {topic.shape}\n\
common_sense shape => {common_sense.shape}\n\
add => {add.shape}\n")

movie shape => (199992, 3)
purpose shape => (480494, 1)
topic shape => (1445760, 1)
common_sense shape => (68538, 3)
add => (9216, 2)

In [4]:
print(movie.columns)
print(purpose.columns)
print(topic.columns)
print(common_sense.columns)
print(add.columns)
#print(add_2.columns)

Index(['id', 'document', 'label'], dtype='object')
Index(['text'], dtype='object')
Index(['text'], dtype='object')
Index(['intent', 'query', 'answer'], dtype='object')
Index(['query', 'intent'], dtype='object')

In [5]:
all_data = list(movie['document']) + list(purpose['text']) + list(topic['text']) + list(common_sense['query']) \
+ list(common_sense['answer']) + list(add['query'])

In [6]:
len(all_data)

2272538

### 의도 분류 데이터 생성하기

In [7]:
number = [] #0
place = [] #1
time = []# 2
#com = []# 3
etc = []# 4

In [8]:
for i in all_data:
    if ('어디' or '장소' or '위치' or '주소') in i: place.append(i)#장소 1
    elif ('번호' or '전화' or '전화번호') in i: number.append(i)#번호 0
    elif ('시작' or '마감' or '언제' or '시간' or '일정' or '학사일정') in i: time.append(i)#시간 2
    #elif ('컴퓨터공학부') in i: com.append(i) #컴공에 대해서 3
    else: etc.append(i) # 기타

In [9]:
print(len(number))# 번호 0
print(len(place))# 장소 1
print(len(time))# 시간 2
#print(len(com))# 컴공 3
#print(len(que))# 질문 4

print(len(etc))

12512
29336
8332
2222358

In [10]:
# 번호관련
number_label =[]
for _ in range(len(number)):
    number_label.append(0)
len(number_label)

12512

In [11]:
len(place)

29336

In [12]:
# 장소관련
place_label=[]
for _ in range(len(place)):
    place_label.append(1)
len(place_label)

29336

In [13]:
len(time)

8332

In [17]:
# 시간 관련
time_label = []
for _ in range(len(time)):
    time_label.append(2)
len(time_label)

8332

In [56]:
# com_label=[]
# for _ in range(len(com)):
#     com_label.append(3)
# len(com_label)

In [57]:
# que_label = []
# for _ in range(len(que)):
#     que_label.append(4)
# len(que_label)

In [14]:
# 기타
import random
random.seed(42)
etc_sample = random.sample(etc, 50000)
print(len(etc_sample))

50000

In [15]:
etc_sample_label = []
for _ in range(len(etc_sample)):
    etc_sample_label.append(3)
len(etc_sample_label)

50000

In [18]:
train_df = pd.DataFrame({'text':number+place+time,
                         'label':number_label+place_label+time_label})

In [19]:
train_df

                                                    text  label
0      이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1      작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                    비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                             용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4      보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0
...                                                  ...    ...
50175                        선배님들은 아이출산하고 언제쯤 생리 시작하셨나요?      2
50176           부정출혈이 있고 난 후 며칠 뒤에 생리 시작하는지 아시는분 있나요...?      2
50177                                    언제 시작하고 언제 끝났는지      2
50178  며칠전에 머리를 매직하고 나서부터슬슬 여자로서의 자각은 가지고 다니기 시작했는데얼마...      2
50179                                 가을언제 시작햇다고 끝나냐 ...      2

[50180 rows x 2 columns]

In [22]:
train_df[train_df['label']==0]

                                                    text  label
0      이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1      작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                    비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                             용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4      보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0
...                                                  ...    ...
12507                         학원에서 어쩌다 보니 어느 여자 번호를 얻었어.      0
12508                             방어율 99.9라서 등번호 99로 지었냐      0
12509                        다른건 몰라도 주민등록번호 유출한건 처벌 해야한다      0
12510  동영상 찍고 차량 번호 찍고 시간대 찍어서 회사측에 보내도록해 그리고 이런사람은 다...      0
12511                       이메일 계정 비밀번호 마지막으로 바꾼 날짜가 언제야      0

[12512 rows x 2 columns]

In [23]:
train_df.isnull().sum()

text     0
label    0
dtype: int64

In [24]:
train_df.reset_index(drop=True, inplace=True)

In [25]:
train_df.tail()

                                                    text  label
50175                        선배님들은 아이출산하고 언제쯤 생리 시작하셨나요?      2
50176           부정출혈이 있고 난 후 며칠 뒤에 생리 시작하는지 아시는분 있나요...?      2
50177                                    언제 시작하고 언제 끝났는지      2
50178  며칠전에 머리를 매직하고 나서부터슬슬 여자로서의 자각은 가지고 다니기 시작했는데얼마...      2
50179                                 가을언제 시작햇다고 끝나냐 ...      2

In [26]:
train_df.to_csv("train_data.csv", index=False)

In [27]:
df = pd.read_csv('./train_data.csv')

In [28]:
df

                                                    text  label
0      이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1      작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                    비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                             용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4      보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0
...                                                  ...    ...
50175                        선배님들은 아이출산하고 언제쯤 생리 시작하셨나요?      2
50176           부정출혈이 있고 난 후 며칠 뒤에 생리 시작하는지 아시는분 있나요...?      2
50177                                    언제 시작하고 언제 끝났는지      2
50178  며칠전에 머리를 매직하고 나서부터슬슬 여자로서의 자각은 가지고 다니기 시작했는데얼마...      2
50179                                 가을언제 시작햇다고 끝나냐 ...      2

[50180 rows x 2 columns]